@model ToutesLesFormationsViewModel;
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<p>Ceci est une vue avec le nombre @Model.Nombre</p>
<p>Ceci est une vue avec le message @Model.Message</p>


